<main>
  <section>
    <h1 class="text-3xl my-4">Login To Expense Tracker app</h1>
  </section>

  <section>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam similique
      ducimus id, adipisci eveniet cum facere enim, sint delectus voluptate
      reprehenderit rerum fugit vitae illo! Quis cupiditate eum dignissimos
      sint?
    </p>
  </section>

  <section>
    <form>
      <fieldset class="mb-4">
        <label class="flex flex-col gap-2 py-2">Email<input type="email"
            class="px-4 py-2 border border-slate-500 rounded-lg" /></label>
        <label class="flex flex-col gap-2 py-2">Password<input type="password"
            class="px-4 py-2 border border-slate-500 rounded-lg" /></label>
      </fieldset>

      <button type="submit" class="text-slate-950 bg-blue-300 px-4 py-2 rounded-lg border-none">Submit</button>

    </form>
  </section>
</main>