<main class="p-16 max-w-7xl mx-auto">
  <section>
    <h1 class="text-3xl my-4">Register To Expense Tracker app</h1>
  </section>

  <section>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam similique
      ducimus id, adipisci eveniet cum facere enim, sint delectus voluptate
      reprehenderit rerum fugit vitae illo! Quis cupiditate eum dignissimos
      sint?
    </p>
  </section>

  <section>
  </section>

  <div class="pt-8">
    <a routerLink="/login" class="text-blue-500 hover:underline cursor-pointer">Already have an account? Login here</a>
  </div>
</main>
